html {
    height:100%;
}

body {
    height:100%;
    min-height:100%;
    margin:0;
    padding:0;
    background:url(images/cosmo.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#main {
    height:90%;
    min-height:90%;
}

#activity-bar {
    height:10%;
    min-height:10%;
    background-color:#000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity:0.5;
    opacity:0.5;
}