a {
    color:#b3b3b3;
}

a:visited {
    color:#b3b3b3;
}

a:active {
    color:#b3b3b3;
}

textarea {
    resize:none;
    border:0;
    height:8em;
    width:74%;
    background-color:#000;
    color:#63de00;
    font-family:Courier, monospace;
    position:absolute;
    bottom:0;
    left:190px;
}

textarea:focus {
    outline:none;
    border:0px;
}

button {
    background-color:#000;
    border-color:#63de00;
    color:#63de00;
    position:absolute;
    bottom:5em;
}

.console {
    width:800px;
    height:500px;
    background-color:#000;
    color:#63de00;
    font-family:Courier, monospace;
    position:relative;
}

#log {
    position:absolute;
    bottom:120px;
    max-height:380px;
    width:100%;
    overflow-y:auto;
}

.messageBox {
    width:100%;
}

.messageBox p {
    display:inline;
    -webkit-margin-before:0;
    -webkit-margin-after:0;
}

.messageBox p:first-child {
    width:70%;
    float:left;
}

.messageBox p:nth-child(2) {
    width:20%;
}

.messageBox a {
    float:right;
    margin-right:15px;
}

.clear {
    clear:both;
}

.input {
    height:120px;
    position:absolute;
    bottom:0;
    width:100%;
}

.prompt {
    position:absolute;
    bottom:4.8em;
}

#numberOfCommands {
    position:absolute;
    bottom:2em;
}