label, input, select, button, p {
    float:left;
}

label, button {
    clear:left;
}

p {
    display:inline;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

#firstName {
    margin-left:25px;
}

#lastName {
    margin-left:18px;
}

#zipCode {
    margin-left:4px;
}

#email {
    margin-left:38px;
}

#paymentPlan {
    margin-left:16px;
}

.valid {
    background-color:green;
}

.invalid {
    background-color:red;
}

#overlay {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity:0.5;
    opacity:0.5;
    z-index:10;
}

#popupWindow {
    position:absolute;
    top:50px;
    left:100px;
    background-color:#fff;
    z-index:20;
}